<p>
  <%= label_tag l(:label_formula) %>
  <%= text_area_tag 'custom_field[formula]', custom_field.formula %>
  <% cfs = CustomField.where(type: custom_field.type)
                      .where('custom_fields.id != ?', custom_field.id || 0) %>
</p>
<p>
  <%= label_tag l(:label_available_custom_fields) %>
  <%= select_tag '',
                 options_from_collection_for_select(cfs, 'id', 'name'),
                 size: 5, multipe: true, id: 'select_for_formula' %>
</p>
<p>
  <%= label_tag l(:label_output_format) %>
  <%= select_tag 'custom_field[output_format]',
                 options_for_select(%w(int float), custom_field.output_format) %>
</p>
<script type="text/javascript">
    $("#select_for_formula").dblclick(function(e) {
        var formula = $("#custom_field_formula");
        $(this).find("option:selected").each(function() {
            formula.val(formula.val() + '%{cf_' + $(this).val() + '} ');
        });
    });
</script>
